# CSEU Cyber Threat Intelligence - Backend
PORT=5050
NODE_ENV=development

# Socket.io Origins
CORS_ORIGIN=http://localhost:3000

# Security
JWT_SECRET=THREAT_INTEL_SECRET_2026_CCID
ADMIN_PASSWORD=admin123

# Simulation Settings
SIMULATION_INTERVAL=3000

# Threat Feed API Keys (Placeholders)
ABUSE_IP_DB_KEY=your_key_here
SHODAN_API_KEY=your_key_here
